env.CATTLE_TEST_URL='https://3.16.129.90'
env.ADMIN_TOKEN='token-94kc6:ph6cgvs2bsskw72p2xlw6vfljkrssnz6wnpvdnrl5z5tg2z9fv7jvr'
env.USER_TOKEN='token-tplqk:sn7zf5zwzlnc7nvffvhvn6kvbsk6d2gds8zhdzs2j5dc9hkz26xjbj'
env.RANCHER_CLUSTER_NAMES='auto-aws-eaphz,auto-aws-jyieg,auto-aws-qeaqw,auto-aws-qpjpq,auto-ec2-amtqw,auto-ec2-eslrk,auto-ec2-fxwqd,auto-ec2-jzkoq,auto-aws-vytfe,auto-aws-wjyeo'
